@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito";
    background-color: rgb(60, 60, 60);
    color: white;
    overflow: hidden;
}

h1 {
    font-size: 64px;
    text-align: center;
    cursor: pointer;
    transition: scale 0.25s ease;
}

h1:hover {
    scale: 1.25;
}

.history {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(70, 70, 70);
    width: 512px;
    height: 512px;
    border-radius: 16px;
    font-size: 24px;
    text-align: center;
    overflow: hidden;
}

.history > span {
    display: flex;
    background-color: rgb(90, 90, 90);
    width: 100%;
    height: 32px;
    padding-left: 15px;
    left: 0%;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.25s ease, padding-left 0.25s ease, padding-right 0.25s ease;
}

.history > span:hover {
    background-color: rgb(95, 95, 95);
    padding-left: 30px;
    padding-right: 30px;
}
