@import url("../../modules/fonts.css");

body {
    background-color: rgb(60, 60, 60);
    font-family: "NunitoNewtown", sans-serif !important;
    font-weight: 700;
    overflow: hidden;
    color: white;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    top: 0%;
    width: 100%;
}

div > span#status {
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.75s ease;
}

input {
    font-weight: 800;
    font-family: "NunitoNewtown", sans-serif !important;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 100em;
    margin-top: 5px;
    width: 50%;
    height: 32px;
    font-size: 24px;
    transition: scale calc(0.25s / 1.5) ease;
}

button {
    font-weight: 900;
    font-family: "NunitoNewtown", sans-serif !important;
    background-color: white;
    border: none;
    border-radius: 100em;
    margin-top: 5px;
    width: 50%;
    height: 32px;
    font-size: 24px;
    cursor: pointer;
    transition: scale calc(0.25s / 1.5) ease;
}

button[id="reset"] {
    color: rgb(200, 0, 0);
}

button:hover, input:hover, h1:hover {
    scale: calc(1.125 / 1.025);
}

h1 {
    font-size: 64px;
    cursor: pointer;
    transition: scale calc(0.25s / 1.5) ease;
}