@import url("../../modules/fonts.css");

body {
    background-color: rgb(60, 60, 60);
    font-family: "NunitoNewtown", sans-serif !important;
    font-weight: 700;
    color: white;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    top: 0%;
    width: 100%;
}

input {
    font-weight: 800;
    font-family: "NunitoNewtown", sans-serif !important;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 100em;
    margin-top: 5px;
    width: 50%;
    height: 32px;
    font-size: 24px;
}

button {
    font-weight: 900;
    font-family: "NunitoNewtown", sans-serif !important;
    background-color: white;
    border: none;
    border-radius: 100em;
    margin-top: 5px;
    width: 50%;
    height: 32px;
    font-size: 24px;
    cursor: pointer;
}

button[id="reset"] {
    color: rgb(200, 0, 0);
}

span {
    font-size: 48px;
    opacity: 0;
    transition: opacity 0.75s ease;
}

h1 {
    font-size: 64px;
}