@import url("./modules/fonts.css");

body {
    background-color: rgb(60, 60, 60) !important;
    color: white !important;
    font-family: "NunitoNewtown", sans-serif !important;
    font-size: 1.25em !important;
    overflow: hidden !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
}

button {
    background-color: transparent;
    border: 0px;
}

.apps {
    position: fixed;
    right: 5.5%;
    top: -55%;
    background-color: rgb(90, 90, 90);
    border-radius: 18px;
    width: 250px;
    aspect-ratio: 1 / 1.5;
    transition: top 0.5s ease;
}

.apps > img {
    width: 48px;
    align-self: center;
    cursor: pointer;
    margin-left: 22.5px;
    margin-top: 15px;
    transition: transform 0.35s ease;
}

.apps > img:hover {
    transform: scale(1.4);
}

#apps-button {
    position: fixed;
    right: 1%;
    top: 5%;
    width: 64px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#apps-button:hover {
    transform: scale(1.25);
}

.search-engine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.header {
    font-size: 4.5em;
    transition: font-size 0.5s ease;
    cursor: pointer;
}

.header:hover {
    font-size: 6em;
}

.search-input {
    position: relative;
    text-align: center;
    right: 10px;
    bottom: 75px;
    border: 0;
    width: 570px;
    height: 32px;
    font-size: 1.5em;
    font-family: "NunitoNewtown", sans-serif !important;
    border-radius: 50px;
    font-weight: 700;
    transition: color 0.25s ease, width 0.5s ease;
    padding: 8px;
}

.search-input:hover {
    width: 1000px;
}

.search-section {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.search-button {
    position: relative;
    bottom: 83px;
    right: 10px;
    width: 64px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: scale 0.25s ease, rotate 0.65s ease;
}

.search-button:hover {
    scale: 1.25;
    rotate: 360deg;
}

#notification-container {
    position: fixed;
    left: -400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    width: 300px;
    height: 70px;
    background-color: white;
    color: black;
    font-weight: 800;
    border-radius: 8px;
    transition: left 0.75s ease-in-out;
}

.shortcuts-bar {
    position: fixed;
    width: 100%;
    height: 48px;
    top: 0%;
    left: 0%;
    font-size: 22px;
    padding-left: 5%;
}

.shortcuts-bar > span {
    position: relative;
    border-radius: 100px;
    background-color: rgb(90, 90, 90);
    top: 8px;
    left: -75px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: background-color 0.35s ease, opacity 0.35s ease, padding 0.35s ease;
}

.shortcuts-bar > span:hover {
    background-color: rgb(100, 100, 100);
    padding-left: 30px;
    padding-right: 30px;
    opacity: 1;
}

.shortcuts-bar > span:not(:hover) {
    opacity: 0.75;
}