@import url("./modules/fonts.css");

body {
    background-color: rgb(60, 60, 60) !important;
    color: white !important;
    font-family: "NunitoNewtown", sans-serif !important;
    font-size: 1.25em !important;
    overflow: hidden !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
}

#home-button {
    position: fixed;
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    transition: transform 0.25s ease;
}

#home-button:hover {
    transform: scale(1.125); 
}

#home-button > img {
    width: 64px;
    aspect-ratio: 1 / 1;
    transition: transform 0.5s ease;
}

#home-button > img:hover {
    transform: rotate(180deg);
}

.search-engine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.header {
    font-size: 4.5em;
    transition: font-size 0.5s ease;
    cursor: pointer;
}

.header:hover {
    font-size: 6em;
}

.search-input {
    position: relative;
    right: 10px;
    bottom: 75px;
    border: 0;
    width: 512px;
    height: 32px;
    font-size: 1.5em;
    font-family: "NunitoNewtown", sans-serif !important;
    border-radius: 50px;
    font-weight: 700;
    transition: color 0.25s ease, width 0.5s ease;
    padding: 8px;
}

.search-input:hover {
    width: 700px;
}

.search-button {
    position: relative;
    top: -15px;
    left: 278px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.75s ease, left 0.75s ease;
}

.search-button:hover {
    transform: rotate(360deg);
}

#search-button {
    border: 0;
    background-color: transparent !important;
}

#version-text {
    position: relative;
    top: 305px;
    right: 702px;
}

#notification-container {
    position: fixed;
    left: -400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    width: 300px;
    height: 70px;
    background-color: white;
    color: black;
    font-weight: 800;
    border-radius: 8px;
    transition: left 0.75s ease-in-out;
}